body {
	font-family:Arial, Helvetica, sans-serif;
	background:#5CB8E6;
	font-size: 10px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    padding:0px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.glyphicon-chevron-left,.glyphicon-chevron-right{
	color:#5CB8E6; 
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100px;
  background-color:#FFF;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100px;  
}
.carousel h1,p,h3{
    text-shadow:none;
	margin: -10px;
	color:#5CB8E6;
}
.carousel h1{
	margin:-2.5px;
	font-size: 12px;
	margin: -15px;
}
.carousel p{
	font-size: 9px;
}
.carousel h3{
	padding:5px;
	font-size: 10px;
}
.btn{
	font-size: 10px;
	margin:5px;
}
.carousel h2{
    color:#5CB8E6;
	font-size: 5px;
    text-shadow:none;
    padding: 2px;
}
.container{
	height:125px;
}

/* show the move cursor as the user moves the mouse over the panel header.*/
#draggablePanelList .panel-heading{
    cursor: move;
}
#draggablePanelList{
	border-radius:5px;
	border:none;
}
.panel{
	margin:15px 5px;
	border:none;

}
#draggablePanelList .panel-body{
	border-radius:5px;
	padding:5px;
}
#draggablePanelList .panel-heading{
	border:none;
	background-color:#5CB8E6;
	color:#FFF; 
	font-size: 10px;
}
.content-container{

}
.pic-container{
	width: 55px;
	float: left;
}
.pic{
	margin:5px;
	width: 100%;
	height: 100%;
	background: #FFF;
	border-radius:5px;
}
.info-container{
	margin-left: 55px;
}

.panel-info{
	height:55px;
}
.circle-indicator{
/*	background-color: yellow;*/	
	height: 12.5px;
	width: 12.5px;
	border-radius: 6.25px;
	float:right;
	margin-right: 2.5px;
	margin-top: -17px;
}







